* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
body {
  height: 100vh;
  width: 100vw;
  display: flex;
  justify-content: center;
  align-items: center;
}

input {
  height: 30px;
  width: 30px;
  appearance: none;
  background-color: red;
  border-radius: 50%;
  opacity: 0;
}
input:hover {
  cursor: pointer;
}
.tri-state-toggle {
  display: flex;
  justify-content: center;
  border: 3px solid grey;
  border-radius: 50px;
  background: grey;
}
#one {
  opacity: 1;
}
